body {
  background: #000000;
  margin-right: auto;//ここで中央寄せを指定する。
  margin-left : auto;
  width:700px;
  font-size:100%;
}

h1 {
    color: #FFFFFF; /*文字の色*/
    text-align: center;
}

h2 {
    color: #FFFFFF;
    background: transparent;
    /*background: #00FF00;*/                /*背景色*/
    padding:5px;                        /*文字の余白*/
    text-align: center;
}

h3 {
    padding: 3px 6px;                   /*上下左右の余白*/
    color: #f8f8f8;                     /*文字色*/
    background: transparent;            /*背景を透明に変更*/
    border-left: solid 5px #FFD700;     /*左に色指定で枠線追加*/
}

h4 {
    color: #f8f8f8;
    background: transparent;
    text-align: center;
}

h5 {
    color: #f8f8f8;
    background: transparent;
    text-align: center;
}
